## Part 1: Preprocessing

In [21]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [22]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [23]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[['Attrition', 'Department']]
y_df.head()

  Attrition              Department
0       Yes                   Sales
1        No  Research & Development
2       Yes  Research & Development
3        No  Research & Development
4        No  Research & Development

In [24]:
# Create a list of at least 10 column names to use as X data
X_cols = ['JobInvolvement','JobSatisfaction', 'NumCompaniesWorked', 'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 
          'WorkLifeBalance', 'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsAtCompany']


# Create X_df using your selected columns
X_df = attrition_df[X_cols]
X_df.head()

# Show the data types for X_df
X_df.dtypes

JobInvolvement              int64
JobSatisfaction             int64
NumCompaniesWorked          int64
PercentSalaryHike           int64
PerformanceRating           int64
RelationshipSatisfaction    int64
WorkLifeBalance             int64
YearsAtCompany              int64
YearsSinceLastPromotion     int64
YearsAtCompany              int64
dtype: object

In [25]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_df, y_df, random_state=42)

In [26]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary

#All selected X data is already in int64 format.  No conversion should be required

In [27]:
# Create a StandardScaler
X_scaler = StandardScaler()

# Fit the StandardScaler to the training data
X_scaler.fit(X_train)

# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [28]:
y_train

     Attrition              Department
1343        No  Research & Development
1121        No                   Sales
1048        No                   Sales
1393        No                   Sales
527         No                   Sales
...        ...                     ...
1130        No  Research & Development
1294        No  Research & Development
860        Yes  Research & Development
1459        No  Research & Development
1126        No                   Sales

[1102 rows x 2 columns]

In [29]:
# Create a OneHotEncoder for the Department column
department_encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

# Fit the encoder to the training data
department_encoder.fit(y_train['Department'].values.reshape(-1,1))

# Create two new variables by applying the encoder
# to the training and testing data
y_train_dept_encoded = department_encoder.transform(y_train['Department'].values.reshape(-1,1))
y_test_dept_encoded = department_encoder.transform(y_test['Department'].values.reshape(-1,1))

y_train_dept_encoded

array([[0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       ...,
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [30]:
y_train_dept_df = pd.DataFrame(y_train_dept_encoded, columns = department_encoder.get_feature_names_out())
y_test_dept_df = pd.DataFrame(y_test_dept_encoded, columns = department_encoder.get_feature_names_out())

y_train_dept_df

      x0_Human Resources  x0_Research & Development  x0_Sales
0                    0.0                        1.0       0.0
1                    0.0                        0.0       1.0
2                    0.0                        0.0       1.0
3                    0.0                        0.0       1.0
4                    0.0                        0.0       1.0
...                  ...                        ...       ...
1097                 0.0                        1.0       0.0
1098                 0.0                        1.0       0.0
1099                 0.0                        1.0       0.0
1100                 0.0                        1.0       0.0
1101                 0.0                        0.0       1.0

[1102 rows x 3 columns]

In [31]:
# Create a OneHotEncoder for the Attrition column
attrition_encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

# Fit the encoder to the training data
attrition_encoder.fit(y_train['Attrition'].values.reshape(-1,1))

# Create two new variables by applying the encoder
# to the training and testing data
y_train_attr_encoded = attrition_encoder.transform(y_train['Attrition'].values.reshape(-1,1))
y_test_attr_encoded = attrition_encoder.transform(y_test['Attrition'].values.reshape(-1,1))

y_train_attr_encoded

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       ...,
       [0., 1.],
       [1., 0.],
       [1., 0.]])

In [32]:
y_train_attr_df = pd.DataFrame(y_train_attr_encoded, columns = attrition_encoder.get_feature_names_out())
y_test_attr_df = pd.DataFrame(y_test_attr_encoded, columns = attrition_encoder.get_feature_names_out())

y_train_attr_df

      x0_No  x0_Yes
0       1.0     0.0
1       1.0     0.0
2       1.0     0.0
3       1.0     0.0
4       1.0     0.0
...     ...     ...
1097    1.0     0.0
1098    1.0     0.0
1099    0.0     1.0
1100    1.0     0.0
1101    1.0     0.0

[1102 rows x 2 columns]

## Create, Compile, and Train the Model

In [33]:
# Find the number of columns in the X training data
col_count = X_df.shape[1]
print(col_count)

# Create the input layer
input_layer = layers.Input(shape=(X_df.shape[1], ), name='input_features')

# Create at least two shared layers
shared_layer1 = layers.Dense(64, activation='relu', name='shared_hidden1')(input_layer)
shared_layer2 = layers.Dense(32, activation='relu', name='shared_hidden2')(shared_layer1)

10

In [34]:
# Create a branch for Department
# with a hidden layer and an output layer

# Create the hidden layer
department_dense = layers.Dense(64, activation='relu', name='department_hidden')(shared_layer2)

# Create the output layer
department_output = layers.Dense(2, activation='sigmoid', name='department_output')(department_dense)
department_output

In [35]:
# Create a branch for Attrition
# with a hidden layer and an output layer

# Create the hidden layer
attrition_dense = layers.Dense(64, activation='relu', name='attrition_hidden')(shared_layer2)

# Create the output layer
attrition_output = layers.Dense(3, activation='sigmoid', name='attrition_output')(attrition_dense)
attrition_output

In [36]:
#Create the model 

model = Model(inputs=input_layer, outputs=[
    department_output,
    attrition_output
])

# Compile the model

model.compile(optimizer='adam',
                loss={'department_output': 'categorical_crossentropy',
                    'attrition_output': 'categorical_crossentropy'},
                metrics={'department_output':'accuracy',
                       'attrition_output':'accuracy'})

#Summarize the model
model.summary()

Model: "functional_1"

┏━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┓
┃ Layer (type)        ┃ Output Shape      ┃    Param # ┃ Connected to      ┃
┡━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━┩
│ input_features      │ (None, 10)        │          0 │ -                 │
│ (InputLayer)        │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ shared_hidden1      │ (None, 64)        │        704 │ input_features[0… │
│ (Dense)             │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ shared_hidden2      │ (None, 32)        │      2,080 │ shared_hidden1[0… │
│ (Dense)             │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ department_hidden   │ (None, 64)        │      2,112 │ shared_hidden2[0… │
│ (Dense)             │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ attrition_hidden    │ (None, 64)        │      2,112 │ shared_hidden2[0… │
│ (Dense)             │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ department_output   │ (None, 2)         │        130 │ department_hidde… │
│ (Dense)             │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ attrition_output    │ (None, 3)         │        195 │ attrition_hidden… │
│ (Dense)             │                   │            │                   │
└─────────────────────┴───────────────────┴────────────┴───────────────────┘

 Total params: 7,333 (28.64 KB)

 Trainable params: 7,333 (28.64 KB)

 Non-trainable params: 0 (0.00 B)

In [37]:
# Train the model

model.fit(
    X_train_scaled,
    {
        'department_output': y_train_dept_encoded,
        'attrition_output': y_train_attr_encoded
    },
    epochs=10,
    batch_size=32,
    validation_split=0.2
)

Epoch 1/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - attrition_output_accuracy: 0.2245 - attrition_output_loss: 1.0034 - department_output_accuracy: 0.2230 - department_output_loss: 0.6226 - loss: 1.6263 - val_attrition_output_accuracy: 0.2127 - val_attrition_output_loss: 0.8705 - val_department_output_accuracy: 0.0452 - val_department_output_loss: 0.5431 - val_loss: 1.4144
Epoch 2/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attrition_output_accuracy: 0.1514 - attrition_output_loss: 0.7748 - department_output_accuracy: 0.0309 - department_output_loss: 0.4707 - loss: 1.2456 - val_attrition_output_accuracy: 0.2127 - val_attrition_output_loss: 0.8145 - val_department_output_accuracy: 0.0452 - val_department_output_loss: 0.5133 - val_loss: 1.3292
Epoch 3/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 911us/step - attrition_output_accuracy: 0.1699 - attrition_output_loss: 0.7678 - department_output_accuracy: 0.0448 - department_output_loss: 0.4581 - loss: 1.2260 - val_attrition_output_accuracy: 0.2127 - val_attrition_output_loss: 0.8188 - val_department_output_accuracy: 0.0452 - val_department_output_loss: 0.5097 - val_loss: 1.3307
Epoch 4/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 825us/step - attrition_output_accuracy: 0.1504 - attrition_output_loss: 0.7061 - department_output_accuracy: 0.0290 - department_output_loss: 0.4020 - loss: 1.1084 - val_attrition_output_accuracy: 0.2127 - val_attrition_output_loss: 0.8135 - val_department_output_accuracy: 0.0498 - val_department_output_loss: 0.4933 - val_loss: 1.3092
Epoch 5/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 851us/step - attrition_output_accuracy: 0.1532 - attrition_output_loss: 0.7807 - department_output_accuracy: 0.0520 - department_output_loss: 0.3973 - loss: 1.1781 - val_attrition_output_accuracy: 0.2127 - val_attrition_output_loss: 0.8171 - val_department_output_accuracy: 0.0498 - val_department_output_loss: 0.5012 - val_loss: 1.3210
Epoch 6/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 902us/step - attrition_output_accuracy: 0.1627 - attrition_output_loss: 0.7373 - department_output_accuracy: 0.0392 - department_output_loss: 0.4066 - loss: 1.1434 - val_attrition_output_accuracy: 0.2127 - val_attrition_output_loss: 0.8194 - val_department_output_accuracy: 0.0498 - val_department_output_loss: 0.5008 - val_loss: 1.3231
Epoch 7/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 834us/step - attrition_output_accuracy: 0.1580 - attrition_output_loss: 0.7188 - department_output_accuracy: 0.0379 - department_output_loss: 0.4048 - loss: 1.1233 - val_attrition_output_accuracy: 0.2127 - val_attrition_output_loss: 0.8176 - val_department_output_accuracy: 0.0543 - val_department_output_loss: 0.4993 - val_loss: 1.3197
Epoch 8/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 879us/step - attrition_output_accuracy: 0.1341 - attrition_output_loss: 0.7215 - department_output_accuracy: 0.0310 - department_output_loss: 0.3594 - loss: 1.0809 - val_attrition_output_accuracy: 0.2127 - val_attrition_output_loss: 0.8313 - val_department_output_accuracy: 0.0633 - val_department_output_loss: 0.5060 - val_loss: 1.3403
Epoch 9/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 887us/step - attrition_output_accuracy: 0.1580 - attrition_output_loss: 0.7541 - department_output_accuracy: 0.0654 - department_output_loss: 0.3702 - loss: 1.1233 - val_attrition_output_accuracy: 0.2127 - val_attrition_output_loss: 0.8212 - val_department_output_accuracy: 0.0498 - val_department_output_loss: 0.5383 - val_loss: 1.3619
Epoch 10/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 903us/step - attrition_output_accuracy: 0.1515 - attrition_output_loss: 0.7249 - department_output_accuracy: 0.0544 - department_output_loss: 0.3591 - loss: 1.0838 - val_attrition_output_accuracy: 0.2081 - val_attrition_output_loss: 0.8188 - val_department_output_accuracy: 0.0543 - val_department_output_loss: 0.5181 - val_loss: 1.3397

In [38]:
# Evaluate the model with the testing data
results = model.evaluate(np.array(X_test_scaled), {
    'department_output': y_test_dept_encoded,
    'attrition_output': y_test_attr_encoded
    },
    return_dict=True
)

12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 796us/step - attrition_output_accuracy: 0.1463 - attrition_output_loss: 0.8393 - department_output_accuracy: 0.0571 - department_output_loss: 0.3872 - loss: 1.2214

In [39]:
results

{'attrition_output_accuracy': 0.1304347813129425,
 'attrition_output_loss': 0.845486581325531,
 'department_output_accuracy': 0.057065218687057495,
 'department_output_loss': 0.3843039572238922,
 'loss': 1.2125189304351807}

In [40]:
# Print the accuracy for both department and attrition
print(f'Department predictions accuracy: {results['department_output_accuracy']}')
print(f'Attrition predictions accuracy: {results['attrition_output_accuracy']}')

Department predictions accuracy: 0.057065218687057495
Attrition predictions accuracy: 0.1304347813129425

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. Accuracy may not be the best metric for evaluating the model.  The data is somewhat unbalanced and the accuracy of the model could be skewed by the lower rates of attrition. 
2. Sigmoid was chosed for the output layers and the data was primarily binary in output.  Softmax would be appropriate if the data was not classified as binary output. 
3. The model might be improved by providing some additional data to the model, examples might include things like industry demand for job or going market rate for skills.